.header  {
    background-color:#ffc400;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;

}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  text-align: left;
  color:white;
}
#p01{
  margin-left: 50px;
}

.button {
    background-color: #ffc400 ;
    
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 9px 2px;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid gray;
    width: 300px;
    margin :40px;


}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid gray;
    margin-top: 90px;
    width: 700px;
    height: 300px; 
    margin: 180px;
}
.psw{
    border-radius: 20px;
    border: 2px solid gray;
     width: 400px;
     height: 20px;
     font-size: 15px;
     text-align:left;
     margin-top: : 80px;
     padding: 20px;
}


.btn-group .button:hover {
    background-color: gray;
    color:#ffc400;
}
