* {padding: 0; margin: 0}

body {
	font-family: arial
}

.container {
	width: 1000px;
	margin: auto;
	overflow: hidden;
}

header {
	overflow: hidden;
	background-color: #ffc400;
	margin-bottom: 20px;
	height: 50px;

}

ul {
	overflow: hidden;
	list-style-type: none;
}

li {
	float: right;
}

.logo {
	float: left
}

.logo img {
	width: 120px;
	height: 50px;
}

li a {
	display: block;
	text-decoration: none;
	text-align: center;
}

.icon img {
	width: 35px;
    height: 25px;
    margin: 0;
    padding: 10px 0 10px 30px
}

.profile {
	overflow: hidden;
	border: 1px solid grey;
	padding: 20px
}

.profile .left img {
	width: 170px;
	height: 170px;
	border-radius: 100%
}

.profile .left {
	float: left;
	width: 20%
}

.profile .right {
	float: right;
	width: 75%;
	padding-top: 10px
}

.profile .right h3{
	margin-top: 20px;
}

.profile .right h1{
	margin-top: 10px;
}

.button {
	background-color: #f43547;
	float: right;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.button a {
	color: white
}

menu a {
	color: black
}

menu li a {
	background-color: white;
 	border-radius: 5px;
 	list-style: none;
 	padding: 15px;
 	margin-right: 10px
 }

 menu li a.active {
 	background-color: #EEEEEE;
 	border-radius: 5px;
 	list-style: none;
 	padding: 15px;
 	margin-right: 10px
 }

a {
	text-decoration: none
}

.profile_detail {
	margin-top: 20px;
	font-weight: bold;
	font-size: 20px
}

table {
	border: none
}

td {
	padding: 5px
}

footer {
	color: white;
	background-color: black;
	width: 100%;
	padding: 20px 0;
	margin-top: 20px
}